# Общие исключения для .NET проектов
**/.vs/
**/bin/
**/obj/
**/.DS_Store
**/.git/
.gitignore
.dockerignore
.env
*.user
*.suo
*.pdb
*.log
*.tmp
*.bak
*.cache
*.sqlite
rider.project.model.nuget.info
rider.project.restore.info
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
project.packagespec.json
apphost
ref/
refint/
*.Up2Date
*.AssemblyInfo.cs
*.AssemblyInfoInputs.cache
*.assets.cache
*.csproj.AssemblyReference.cache
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
*.GeneratedMSBuildEditorConfig.editorconfig
*.genruntimeconfig.cache
*.GlobalUsings.g.cs
*.MvcApplicationPartsAssemblyInfo.cache
*.MvcApplicationPartsAssemblyInfo.cs
*.sourcelink.json
staticwebassets/
staticwebassets.build.endpoints.json
staticwebassets.build.json
rjsmcshtml.dswa.cache.json
rjsmrazor.dswa.cache.json
rpswa.dswa.cache.json

# Исключения для файлов, которые создает dotnet publish (не нужно их копировать обратно в контекст)
**/publish/

# Исключения для IDE и временных файлов
launchSettings.json